version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: naver-news-spring
    env_file:
      - .env
    environment:
      SPRING_PROFILES_ACTIVE: local
    ports:
      - "3579:3579"
    restart: unless-stopped
